<!doctype html>
<html>
  <head>
    <script src="libs/angular.js"></script>
	<script src="libs/ngmask.min.js"></script>
	<script src="script.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body ng-app="mainApp" ng-controller="mainAppCon">
	<div id="upperMenu">
		<span>Lorem ipsum</span>
		<div id="upperMenuSlider" ng-style="setMarginMenu">
			<div id="menuHider" ng-click="showMenu()">
				Menu
			</div>
			<button ng-click="switchMenuForm()" class="btn" style="display: inline-block;"> {{ pl[0] }} </button>
			<div class="space"></div>
			<button ng-click="switchMenuAdresses()" class="btn" style="display: inline-block;">{{ pl[1] }}</button>
			<div class="space"></div>
			<button ng-click="switchMenuGraph()" class="btn" style="display: inline-block;">{{ pl[2] }}</button>
		</div>
	</div>
	<iframe id="content" ng-src="{{ srcSubPage }}"></iframe>
	<div id="footer">
			<div id="copyright">
				<span style="color: rgb(156, 159, 163);">&copy 2018</span> Michał Pochopień <br>
				<a>PL</a> | <a>ENG</a>
			</div>

			<div id="social_bar">
				<a class="social_icon" href="https://www.facebook.com/profile.php?id=100000771247530"></a>|
				<a class="social_icon" href="https://www.instagram.com/m_pochopien/"></a>|
				<a class="social_icon" href="https://twitter.com/m_pochopien"></a>|
				<a class="social_icon" href="https://github.com/Wyimaginowany"></a>
			</div>
		</div>
  </body>
</html>
