@font-face {
    font-family: latoRegular;
    src: url(fonts/Lato-Thin.ttf);
}

@font-face {
	font-family: icons;
	src: url("fonts/dripicons-v2.ttf");
}

@font-face {
	font-family: social;
	src: url("fonts/Socicon.ttf");
}

body {
	margin: 0 0 120px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url();
	background-size: cover;
	font-family: latoRegular;
}

html {
	min-height: 100%;
	position: relative;
}

#upperMenu {
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.44);
	height: 100px;
	width: auto;
	background-color: #fff;
	position: fixed;
	line-height: 100px;
}

#title {
	font-size: 40px;
	padding-left: 20px;
}

#upperMenuSlider {
	width: 60%;
	height: 100px;
	float: right;
	text-align: center;
	line-height: 100px;
	margin-right: -54%;
	transition: 1s;
}

#menuHider {
	width: 10%;
	float: left;
	text-align: center;
	background-color: #1A2930;
	color: #F7CE3E;
	cursor: pointer;
	transition: 0.5s;
}

#menuHider:hover {
	background-color: #F7CE3E;
	color: #1A2930;
}

#upperMenuSlider .space {
	display: inline-block; 
	vertical-align: top; 
	width: 5%;
}

#upperMenuSlider button {
	display: inline-block;
}

.btn {
	width: 20%;
	height: 40px;
	border: none;
	text-align: center;
	outline: none;
	background-color: #1A2930;
	color: #F7CE3E;
	cursor: pointer;
}

.btn:hover {
	background-color: #F7CE3E;
	color: #1A2930;
}

#content {
	border: none;
	display: block;
	margin-top: 200px;
	width: 100%;
	height: 100vh;
	overflow: hidden;	
}

#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 120px;
	width: 100%;
	text-align: center;
	background-color: #fff;
	color: #fff;
	font-size: 15px;
	line-height: 17px;
	box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.44);
}

#social_bar {
	position: absolute;
	font-family: social;
	width: 200px;
	height: 60px;
	right: 5%;
	top: 25%;
	font-size: 25px;
	text-align: center;
	letter-spacing: 5px;
}

#social_bar a {
	color: #000;
	text-decoration: none;
}

#social_bar a:first-child:hover {
	color: #3e5b98;
}

#social_bar a:nth-child(2):hover {
	background: -webkit-linear-gradient(top left, #8A3AB9 0%, #FBAD50 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#social_bar a:nth-child(3):hover {
	color: #4da7de;
}

#social_bar a:nth-child(4):hover {
	color: #221e1b;
}

#social_bar a:nth-child(5):hover {
	color: #3371b7;
}

#copyright {
	text-align: center;
	margin: 0 auto;
	top: 40%;
	width: 30%;
	color: #000;
	font-size: 20px;
	position: relative;
}

#copyright a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#copyright a:hover {
	color: #F7CE3E;
}

#form {
	text-align: center;
	margin-top: 200px;
}

#form input,
#form select {
	width: 95%;
	height: 40px;
	border: none;
	text-align: center;
	outline: none;
	background-color: #fff;
	box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.44);
	transition: 0.5s;
}

#form input:focus,
#form select:focus {
	box-shadow: 0px 2px 4px 1px #F7CE3E;
}

#form div:nth-child(1),
#form div:nth-child(3) {
	width: 35%;
	line-height: 100px;
}

#form div:nth-child(2) {
	width: 8%;
}

#form div {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.subnetDisplay {
	margin: 0 auto;
	text-align: center;
	width: auto;
}

.subnetDisplay span{
	font-weight: bold;
}

#addressesMain {
	margin: 0 auto;
	text-align: center;
	width: 50%;
	margin-bottom: 200px;
}

@media screen and (max-width: 650px) {
	#upperMenu span {
		display: none;
	}
	
	#upperMenuSlider {
		width: 100%;
		margin-right: -90%;
	}
	
	.btn {
		font-size: 10px;
	}
	
	#menuHider {
		font-size: 10px;
	}
}

@media screen and (max-width: 480px) {
	#copyright {
		font-size: 12px;
		width: 50%;
	}

	#social_bar {
		position: unset;
		font-size: 30px;
		margin: 0 auto;
		margin-top: -5%;
	}
}
